body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #0f172a, #020617);
    color: #e2e8f0;
}

.container {
    width: 90%;
    margin: auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

.subtitle {
    text-align: center;
    color: #94a3b8;
}

/* CARD */
.card {
    background: rgba(30,41,59,0.7);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 20px;
}

/* GRID */
.grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
}

/* INPUT */
input {
    padding: 10px;
    margin: 5px;
    border-radius: 6px;
    border: none;
    background: #020617;
    color: white;
}

/* BUTTON */
button {
    padding: 10px 20px;
    background: #22c55e;
    border: none;
    border-radius: 6px;
    color: white;
}

/* ENERGY TEXT */
.energy {
    font-size: 28px;
    color: #22c55e;
}

/* CHART */
canvas {
    height: 200px !important;
}